NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/batalabandi
JWT_ACCESS_SECRET=batalabandi_access_secret_super_secure_key_2026
JWT_REFRESH_SECRET=batalabandi_refresh_secret_super_secure_key_2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
RAZORPAY_KEY_ID=rzp_test_batalabandi_key_2026
RAZORPAY_KEY_SECRET=rzp_test_batalabandi_secret_2026
RAZORPAY_WEBHOOK_SECRET=batalabandi_webhook_secret_2026
